.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex .flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.flex .flex-auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.flex .flex-one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex .flex-two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex .flex-three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex .flex-four {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex .flex-one-one-auto {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex .flex-one-zero-auto {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex .flex-zero-one-auto {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex .flexitem-left-main {
  margin-right: auto;
}
.flex .flexitem-right-main {
  margin-left: auto;
}
.flex .flexitem-left-cross {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex .flexitem-right-cross {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex .flexitem-center-cross {
  -webkit-align-self: center;
  align-self: center;
}
.flex .flexitem-baseline-cross {
  -webkit-align-self: baseline;
  align-self: baseline;
}
.flex .flexitem-stretch-cross {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-row .flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.flex-row .flex-auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.flex-row .flex-one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-row .flex-two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-row .flex-three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-row .flex-four {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-row .flex-one-one-auto {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-row .flex-one-zero-auto {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex-row .flex-zero-one-auto {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-row .flexitem-left-main {
  margin-right: auto;
}
.flex-row .flexitem-right-main {
  margin-left: auto;
}
.flex-row .flexitem-left-cross {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex-row .flexitem-right-cross {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex-row .flexitem-center-cross {
  -webkit-align-self: center;
  align-self: center;
}
.flex-row .flexitem-baseline-cross {
  -webkit-align-self: baseline;
  align-self: baseline;
}
.flex-row .flexitem-stretch-cross {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flex-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-col .flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.flex-col .flex-auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.flex-col .flex-one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-col .flex-two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-col .flex-three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-col .flex-four {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-col .flex-one-one-auto {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-col .flex-one-zero-auto {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex-col .flex-zero-one-auto {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex-col .flexitem-left-main {
  margin-right: auto;
}
.flex-col .flexitem-right-main {
  margin-left: auto;
}
.flex-col .flexitem-left-cross {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flex-col .flexitem-right-cross {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex-col .flexitem-center-cross {
  -webkit-align-self: center;
  align-self: center;
}
.flex-col .flexitem-baseline-cross {
  -webkit-align-self: baseline;
  align-self: baseline;
}
.flex-col .flexitem-stretch-cross {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-left-main {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex-right-main {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-center-main {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-space-between-main {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-center-cross {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-stretch-cross {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
body {
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}
.tac-popover {
  width: 920px;
  height: 470px;
  margin: 0 auto;
  border: solid 1px darkgray;
  border-radius: 4px;
  background-color: lightgray;
}
.title {
  background-color: white;
  padding: 16px;
}
.title h3 {
  margin: 0;
}
.tac {
  margin: 0 8px;
  height: 100%;
}
.tac .sub-title {
  padding-left: 8px;
}
.tac .disclaimer {
  flex: 1 0 0;
  overflow: auto;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 7px;
}
.tac .disclaimer ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 1em;
}
.tac .disclaimer p:first-of-type {
  margin-top: 0;
}
footer {
  margin: 0 8px;
  height: 70px;
}
footer label {
  margin-right: 20px;
}
@media (max-width: 579px) {
  body {
    margin-top: 0;
  }
  .tac-popover {
    width: 100%;
    height: 100vh;
  }
}
